<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>anybin</title>
    </head>
    <body>
        <h1>Dashboard</h1>
        <p1 id="username"></p1>
        <br>
        <a href="/logout">logout</a>
        <br>
        <form>
            <input type="file" id="image" name="image">
            <button type="submit" id="submit-btn">Upload Image</button>
        </form>

        <ol>
            <li><a href="#">Nothing here... Create a bin!</a></li>
        </ol>
        

        <!-- <script src="./js/header.js"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
        <script>
            const form = document.querySelector('form');
            const submitBtn = document.querySelector('#submit-btn');

            submitBtn.addEventListener('click', (event) => {
            event.preventDefault();

            const formData = new FormData();
            const imageFile = document.querySelector('#image').files[0];

            formData.append('image', imageFile);

            const xhr = new XMLHttpRequest();
            xhr.open('POST', '/api/image', true);

            xhr.onload = function () {
                if (this.status === 200) {
                    console.info('UPLOAD STATUS: ', this.statusText);
                    console.info("UPLOADED: " + this.responseText);
                } else {
                    console.info('UPLOAD STATUS: ', this.statusText);
                }
            };

            xhr.send(formData);
            });

            function getUserProfile() {
                $.ajax({
                    type: 'GET',
                    url: '/api/user',
                    success: function(user) { 
                        document.getElementById("username").innerHTML = "Logged in as <strong>" + user.name + "</strong>";

                    },
                    error: function(xhr, status, err) {
                        console.error('DATA: XHR Error.');
                    }
                });
            }
            getUserProfile()
        </script>
        
        <!-- <script>
            let selfID = null;
            function on_login(){
                if (localStorage.getItem("ANYBIN_ID") == null){
                    let new_id = makeid(24); // make random 24 char string
                    localStorage.setItem("ANYBIN_ID", new_id)
                    selfID = localStorage.getItem("ANYBIN_ID");
                }
                else{
                    selfID = localStorage.getItem("ANYBIN_ID");
                }
            }
            function makeid(n) {
                var result           = '';
                var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
                var charactersLength = characters.length;
                for ( var i = 0; i < n; i++ ) {
                result += characters.charAt(Math.floor(Math.random() * charactersLength));
                }
                return result;
            }

            // GET requests
            async function get_user(userid){
                $.ajax({
                    type: 'GET',
                    url: '/api/user',
                    data: {userid: userid},
                    success: function(response) { 
                        console.log(response);
                    },
                    error: function(xhr, status, err) {
                        console.error('DATA: XHR Error.');
                    }
                });
                
            }
            async function get_bin(){
                $.ajax({
                    type: 'GET',
                    url: '/api/bin',
                    data: {userid: selfID, binid: binID},
                    success: function(response) { 
                        console.log(response);
                    },
                    error: function(xhr, status, err) {
                        console.error('DATA: XHR Error.');
                    }
                });
            }
            async function get_item(){
                $.ajax({
                    type: 'GET',
                    url: '/api/item',
                    data: {userid: selfID, binid: binID, itemid: itemID},
                    success: function(response) { 
                        console.log(response);
                    },
                    error: function(xhr, status, err) {
                        console.error('DATA: XHR Error.');
                    }
                });
            }

            // PUT requests
            async function post_user(userid, value){
                let post = JSON.stringify({
                    userid: userid,
                    value: value
                })
                const url = "http://grayling.home:4320/api/user"
                let xhr = new XMLHttpRequest()
                xhr.open('POST', url, true)
                xhr.setRequestHeader('Content-type', 'application/json; charset=UTF-8')
                xhr.send(post);
            }



            $(document).ready(function() { 
                $.ajaxSetup({cache: false});
                on_login();
            });
        </script> --> -->
    </body>
</html>