<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.4/font/bootstrap-icons.min.css" integrity="sha512-yU7+yXTc4VUanLSjkZq+buQN3afNA4j2ap/mxvdr440P5aW9np9vIr2JMZ2E5DuYeC9bAoH9CuCR7SJlXAa4pg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="css/dashboard.css" />
        <link rel="stylesheet" href="css/bg.css" />
        <title>Anybin - Dashboard</title>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Roboto&family=Unica+One&display=swap');

            h1{
                font-family: 'Unica One', cursive;
                background-image:linear-gradient(0deg, rgba(60, 164, 51, 0.6) 0px, rgb(130, 255, 159) 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-size: 60px;
                text-shadow : horizontal-shadow vertical-shadow blur color;
                width: 100%;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class="bg"></div>
        <div class="bg bg2"></div>
        <div class="bg bg3"></div>
        <div class="container-fluid">
            <div class="row flex-nowrap">
                <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                        <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                            <h1>Anybin</h1>
                        </a>
                        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                            <li class="nav-item">
                                <a href="#" class="nav-link align-middle px-0">
                                    <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">My Bins</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0 align-middle">
                                    <i class="fs-4 bi-search"></i> <span class="ms-1 d-none d-sm-inline">Explore</span></a>
                            </li>
                        </ul>
                        <hr>
                        <div class="dropdown pb-4">
                            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                                <i style="font-size: 30px;" class="bi bi-person-circle">  </i>
                                <span id='username' class="d-none d-sm-inline mx-1">[name]</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                                <li><a class="dropdown-item" href="#">Profile</a></li>
                                <li><a class="dropdown-item" href="/logout">Sign out</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col py-3">
                    
                </div>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>
            // const form = document.querySelector('form');
            // const submitBtn = document.querySelector('#submit-btn');

            // submitBtn.addEventListener('click', (event) => {
            // event.preventDefault();

            // const formData = new FormData();
            // const imageFile = document.querySelector('#image').files[0];

            // formData.append('image', imageFile);

            // const xhr = new XMLHttpRequest();
            // xhr.open('POST', '/api/image', true);

            // xhr.onload = function () {
            //     if (this.status === 200) {
            //         console.info('UPLOAD STATUS: ', this.statusText);
            //         console.info("UPLOADED: " + this.responseText);
            //     } else {
            //         console.info('UPLOAD STATUS: ', this.statusText);
            //     }
            // };

            // xhr.send(formData);
            // });

            function getUserProfile() {
                $.ajax({
                    type: 'GET',
                    url: '/api/user',
                    success: function(user) { 
                        document.getElementById("username").innerHTML = user.name;

                    },
                    error: function(xhr, status, err) {
                        console.error('DATA: XHR Error.');
                    }
                });
            }
            getUserProfile()
        </script>
        
        <!-- <script>
            let selfID = null;
            function on_login(){
                if (localStorage.getItem("ANYBIN_ID") == null){
                    let new_id = makeid(24); // make random 24 char string
                    localStorage.setItem("ANYBIN_ID", new_id)
                    selfID = localStorage.getItem("ANYBIN_ID");
                }
                else{
                    selfID = localStorage.getItem("ANYBIN_ID");
                }
            }
            function makeid(n) {
                var result           = '';
                var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
                var charactersLength = characters.length;
                for ( var i = 0; i < n; i++ ) {
                result += characters.charAt(Math.floor(Math.random() * charactersLength));
                }
                return result;
            }

            // GET requests
            async function get_user(userid){
                $.ajax({
                    type: 'GET',
                    url: '/api/user',
                    data: {userid: userid},
                    success: function(response) { 
                        console.log(response);
                    },
                    error: function(xhr, status, err) {
                        console.error('DATA: XHR Error.');
                    }
                });
                
            }
            async function get_bin(){
                $.ajax({
                    type: 'GET',
                    url: '/api/bin',
                    data: {userid: selfID, binid: binID},
                    success: function(response) { 
                        console.log(response);
                    },
                    error: function(xhr, status, err) {
                        console.error('DATA: XHR Error.');
                    }
                });
            }
            async function get_item(){
                $.ajax({
                    type: 'GET',
                    url: '/api/item',
                    data: {userid: selfID, binid: binID, itemid: itemID},
                    success: function(response) { 
                        console.log(response);
                    },
                    error: function(xhr, status, err) {
                        console.error('DATA: XHR Error.');
                    }
                });
            }

            // PUT requests
            async function post_user(userid, value){
                let post = JSON.stringify({
                    userid: userid,
                    value: value
                })
                const url = "http://grayling.home:4320/api/user"
                let xhr = new XMLHttpRequest()
                xhr.open('POST', url, true)
                xhr.setRequestHeader('Content-type', 'application/json; charset=UTF-8')
                xhr.send(post);
            }



            $(document).ready(function() { 
                $.ajaxSetup({cache: false});
                on_login();
            });
        </script> --> 
    </body>
</html>