<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anybin</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto&family=Unica+One&display=swap');
        body{
            position:absolute;
            top: 0px;
            left: 0px;
            width: 100vw;
            height: 100vh;
            background-color: rgb(34, 34, 34);
            overflow: hidden;
        }
        h1{
            font-family: 'Unica One', cursive;
            background-image:linear-gradient(0deg, rgba(60, 164, 51, 0.6) 0px, rgb(130, 255, 159) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 72px;
            position: absolute;
            width: 100vw;
            text-align: center;
            text-shadow : horizontal-shadow vertical-shadow blur color;
        }
        p{
            color: rgb(198, 198, 198);
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            position: absolute;
            bottom: 50px;
            left: 0px;
            width: 100vw;
            text-align: center;
        }
        p a{
            color: rgb(130, 255, 159);
            
        }
    </style>
</head>
<body>
    <h1>Anybin v0.1</h1>
    <p><a href="/login">Log in</a> or <a href="/register">register</a> to get started</p>
</body>
</html>