@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Unica+One&display=swap');
body{
    background: black;
}
h1{
    font-family: 'Unica One', cursive;
    background-image:linear-gradient(0deg, rgba(60, 164, 51, 0.6) 0px, rgb(130, 255, 159) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    text-shadow : horizontal-shadow vertical-shadow blur color;
    width: 100%;
    text-align: center;
}
.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(30,30,30) 50%, rgb(25,25,5) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}
.bg2 {
    animation-direction:alternate-reverse;
    animation-duration:8s;
}
.bg3 {
    animation-duration:10s;
}
@keyframes slide {
    0% {
        transform:translateX(-25%);
    }
    100% {
        transform:translateX(25%);
    }
}

.nav-link{
    color: rgb(130, 255, 159);
}