#page-content{
    padding: 0 !important;
    margin: 0;
    display: block;
    position:relative;
}

.toolbar{
    width: 100%;
    height: 80px;
    background-color: rgba(33,37,41,1);
    float: left;
    box-shadow: inset 14px 0 18px -14px rgba(0,0,0,0.4);
    position:relative;
}

#binname{
    background: none;
    border: 1px solid rgba(0,0,0,0);
    color: rgba(255,255,255,0.8);
    font-size: 40px;
    line-height: 80px;
    margin-left: 20px;
    max-width: 300px;
    padding: 2px;
}
#binname:hover{
    border-bottom: 1px solid white;
}
#binname:focus{
    border-bottom: 2px solid white;
}
#info1{
    color: rgba(255,255,255,0.8);
    position: absolute; 
    top: 10px;
    right: 10px;
    text-align: right;
    line-height: 14px;
    font-size: 12px;
}
[contenteditable]:focus {
    outline: 0px solid transparent;
}
input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
}
#bincol{
    background: none;
    border: none;
    color: rgba(130, 255, 159, 1);
    line-height: normal;
    width: 40px;
}
#binrow{
    background: none;
    border: none;
    color: rgba(130, 255, 159, 1);
    line-height: normal;
    width: 40px;
}
.wrapper {
    display: grid;
    color: #444;
    float: right;
    width: 100%;
    height: 100%;
    grid-auto-rows: 0;
    grid-auto-columns: 0;
    overflow: hidden;
}
.box {
    color: #fff;
    margin: 3px;
    padding: 10px;
    background: rgba(255,255,255,0.05);
    grid-template-columns: 20%;
    border-radius: 5px;
    height: auto;
    transition-duration: 800ms;
    border: 2px solid rgba(0,0,0,0.5);;
    cursor: pointer;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    background-size: cover;
    position:relative;
}
.empty {
    color: rgba(130, 255, 159, 0.5);
    margin: 3px;
    padding: 10px;
    background: rgba(255,255,255,0);
    grid-template-columns: 20%;
    border-radius: 5px;
    height: auto;
    transition-duration: 800ms;
    border: 2px solid rgba(0,0,0,0);
    cursor: pointer;
    text-align: center;
    line-height: 100%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    display:table;
}
.empty span{
    display: table-cell;
    vertical-align: middle;
    font-size: 5vmin;
    
}
.box:hover{
    transition-duration: 100ms;
    margin: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.40);
    border: 2px solid rgba(130, 255, 159, 0.5);
}
.box:hover .item_name{
    transition-duration: 100ms;
    color:rgba(0, 0, 0, 0);
    display: none;
}
#gridPos{
    position:absolute;
    float: right;
    width: 100%;
    height: calc(100% - 80px);
    margin-top: 80px;
}

#buttons{
   position:absolute;
   right: 250px;
   height: 80px;
   line-height: 70px;
   top: 0px;
}
#save-button{
    display: none;
}

.item_name{
    font-size: 20px;
    background-color: rgba(0,0,0,0.5);
    position:absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    transition-duration: 100ms;
}
.item_id{
    font-size: 10px;
    color: rgba(130, 255, 159, 0.5);
}


.box-button{
    position: absolute;
    display: none;
    text-align: center;
    color: rgba(130, 255, 159, 0.5);
    z-index: 10000;
    
}
.box:hover .box-button{
    transition-duration: 100ms;
    display: table;
}
.box-button span{
    display: table-cell;
    vertical-align: middle;
}
.box-button div{
    display: inline-block;
    font-size: 15px;
    width: 25px;
    height: 25px;
    background-color: rgba(130, 255, 159, 0.5);
    color: black;
    border-radius: 50%;
    transition-duration: 100ms;
}
.box-button div:hover{
    color: rgb(130, 255, 159);
    background-color: black;
    cursor: pointer;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5), 0 5px 5px 0 rgba(0, 0, 0, 0.54);

}
.box-button.left{
    left: -10px;
    top: 0px;
    height: 100%;
}
.box-button.right{
    right: -10px;
    top: 0px;
    height: 100%;
}
.box-button.up{
    top: -10px;
    left: 0px;
    right: 0px;
    width: 100%;
}
.box-button.down{
    bottom: -10px;
    right: 0px;
    left: 0px;
    width: 100%;
}   