@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Unica+One&display=swap');




.wrapper {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    color: #444;
    width: 100%;
    height: auto;
}
@media (min-width: 0px) { 
    .wrapper {
        grid-template-columns: 100%;
    }
 }

@media (min-width: 767.98px) { 
    .wrapper {
        grid-template-columns: 50% 50%;
    }
 }
@media (min-width: 991.98px) { 
    .wrapper {
        grid-template-columns: 33% 33% 33%;
    }
}
@media (min-width: 1199.98px) { 
    .wrapper {
        grid-template-columns: 25% 25% 25% 25%;
    }
 }
@media (min-width: 1399.98px) { 
    .wrapper {
        grid-template-columns: 20% 20% 20% 20% 20%;
    }
}


.box {
    color: #fff;
    margin: 2px;
    padding: 10px;
    background: rgba(255,255,255,0.05);
    border-radius: 10px;
    height: 15vh;
    transition-duration: 800ms;
    border: 2px solid rgba(0,0,0,0);
    cursor: pointer;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    position:relative;
}
.box:hover{
    transition-duration: 100ms;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.40);
    border: 2px solid rgba(130, 255, 159, 0.5);
}
.bin_name{
    font-size: 18px;
    font-weight: 900;
    color: rgba(255,255,255,0.9);
}
.bin_id{
    font-size: 12px;
    color: rgba(255,255,255,0.5);
    float: right;
}
.glyphicon, .glyphicon a{
    color: white;
}
#page-content{
    height: 100vh;
    overflow-y:auto
}
.create-button{
    position:absolute;
    background-color: rgb(30,30,30);
    border: 1px solid rgba(130, 255, 159, 1);
    color: rgba(130, 255, 159, 1);
    z-index: 1000;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
    transition-duration: 300ms;
}
.create-button:hover{
    border: 1px solid white;
    color: white;
    cursor: pointer;
    transition-duration: 300ms;
}
.create-flag{
    position:absolute;
    overflow: hidden;
    background-color: rgb(30,30,30, 0.5);
    bottom: 20px;
    right: 40px;
    height: 40px;
    width: 0px;
    padding-top: 6px;
    padding-left: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid white;
    color: white;
}
.create-button:hover ~ .create-flag{
    transition-duration: 400ms;
    width: 130px;
    border: 1px solid rgba(130, 255, 159, 0.5);
    color: rgba(130, 255, 159, 1);
}